<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ald">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Audio_UI"></activity>
        <activity android:name=".Admin_Home"></activity>
        <activity android:name=".Topic_DSA" />
        <activity android:name=".Topic_COA" />
        <activity android:name=".Topic_OOP" />
        <activity android:name=".Sub_Comp" />
        <activity android:name=".Work_In_Progress" />
        <activity android:name=".Sub_Civil" />
        <activity android:name=".Sub_Phy" />
        <activity android:name=".Sub_Chem" />
        <activity android:name=".Admin_Login" />
        <activity android:name=".SY_Dept" />
        <activity android:name=".FY_Sub" />
        <activity android:name=".home_page" />
        <activity android:name=".splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>